Options +SymLinksIfOwnerMatch

RewriteEngine on

RewriteRule "^cron" /error [L]
RewriteRule "^(\d[\d\.]*)/centos$" /centos.php/$1/ [END]
RewriteRule "^(\d[\d\.]*)/nethserver$" /nethserver.php/$1/ [END]

RewriteCond %{QUERY_STRING} "repo="
RewriteRule "^$" /nethserver.php [END]
